* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#root {
  position: relative
}

.ant-layout-content {
  overflow: auto !important;
}

svg {
  display: block;
}

.header-icon {
  margin: 0 12px
}

.ant-dropdown-menu {
  margin-top: 10px !important;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 12px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  border: 0.5px solid rgba(26, 22, 87, 0.40);
  background: rgba(26, 22, 87, 0.30);
}

::-webkit-scrollbar-thumb:hover {
  background: #606671;
}

/* Table styles - start */
.ant-table-thead th {
  font-weight: 500;
  color: rgba(26, 22, 87, 0.85) !important;
  background: #F1F0FF !important;
  position: relative
}

.ant-table-thead th::before {
  content: '';
  background: #CBC7FF !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #bc261b !important;
}

.ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
  color: #D8D7DB
}

.ant-table-content {
  scrollbar-width: auto;
  scrollbar-color: auto;
}

.ant-table-content::-webkit-scrollbar {
  width: 4px;
  border-radius: 12px;
  height: 4px;
}

.ant-table-content::-webkit-scrollbar-track {
  background-color: #e1e6e6;
}

.ant-table-content::-webkit-scrollbar-thumb {
  border-radius: 40px;
  border: 0.5px solid rgba(26, 22, 87, 0.40);
  background: rgba(26, 22, 87, 0.30);
}

.ant-table-content::-webkit-scrollbar-thumb:hover {
  background: #606671;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell {
  background: white !important;
}

.ant-pagination,
.ant-pagination-item a,
.ant-select-selection-item {
  color: #1A1657 !important;
}

.ant-table-wrapper .ant-table-column-sorter-up.active,
.ant-table-wrapper .ant-table-column-sorter-down.active {
  color: rgba(26, 22, 87, 1) !important
}

.ant-table-wrapper .ant-table-thead>tr>th {
  font-weight: 500 !important;
}

.ant-table-wrapper td.ant-table-column-sort {
  background-color: white;
}


.ant-select-arrow span svg,
.ant-select-selection-search {
  display: none !important;
}

.ant-pagination-options-quick-jumper {
  display: none;
}

/* Table styles - end */

/* Date picker styles - start */
.ant-picker {
  padding: 5px 12px;
  border-color: #D8D7DB;
  background-color: #FFFFFF;
  border-radius: 2px;
  height: 32px;
}

.ant-picker-outlined:hover {
  border-color: rgba(136, 135, 145, 1) !important;
  background-color: #FFFFFF;
}

.ant-picker-header-view {
  font-weight: 400 !important;
  color: rgba(26, 22, 87, 0.85) !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  content: "";
  border-color: rgba(62, 52, 202, 1) !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
  background-color: rgba(62, 52, 202, 1) !important;
}

.ant-picker-dropdown .ant-picker-cell {
  color: rgba(189, 188, 194, 1) !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view {
  color: rgba(26, 22, 87, 0.85) !important
}

.ant-picker-now-btn {
  color: rgba(62, 52, 202, 1) !important;
}

.ant-picker-dropdown .ant-picker-header-view>button:hover {
  color: rgba(62, 52, 202, 1) !important;
}

.ant-picker .ant-picker-input {
  color: rgba(26, 22, 87, 0.85) !important;
}

/* Date picker styles - end  */

/* Collapse styles - start */
.ant-collapse-item {
  border-bottom: 0 !important;
}

.ant-collapse-header {
  padding: 12px 0 !important;
}

.ant-collapse .ant-collapse-content {
  border-top: 0 !important;
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 16px;
  background-color: white;
  border: 1px solid #D8D7DB;
  border-radius: 3px;
}

.ant-collapse.ant-collapse-icon-position-end>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  transform: translateY(-50%) rotate(0deg);
  height: 10px;
  position: absolute;
  top: 50%;
  right: 0;
}

.ant-collapse-item-active>.ant-collapse-header .ant-collapse-arrow {
  transform: rotate(180deg);
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

/* Collapse styles end */

.ant-divider {
  margin: 12px 0 !important;
}

.subdivision-collapse .ant-collapse-header {
  padding: 0 !important;
}

/* Radio Group styles start */
.ant-radio-group .ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
  background: #3E34CA;
  width: 16px;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #3E34CA !important;
  background: white !important;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: rgba(136, 135, 145, 1) !important;
}

/* Radio Group styles end */


/* Select styles start */
.ant-select-selector:hover {
  border-color: rgba(136, 135, 145, 1) !important;
}

.ant-select-selector {
  padding: 1px 8px !important;
}

@media (width > 1660px) {
  .ant-select-item-option-content {
    font-size: 18px;
  }

  .ant-select-item-option-content span {
    font-size: 18px;
  }

  .ant-select-selection-placeholder {
    font-size: 18px;
  }
}

.ant-select-selector::-webkit-scrollbar {
  width: 2px;
}

.ant-select-selection-item {
  justify-content: flex-start !important;
}

.ant-select-selection-item {
  padding-inline-end: 0px;
  display: flex;
  justify-content: center;
}

.ant-select-selector::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

.ant-select-selector::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  border-radius: 5px !important;
}

.ant-select-dropdown {
  padding: 0
}

.ant-select-dropdown .ant-select-item-option-selected {
  color: rgba(62, 52, 202, 1) !important;
  background-color: rgba(244, 244, 245, 1) !important;
  font-weight: 500 !important;
}

.and-select-dropdown .ant-select-item-option-active {
  background-color: #3E34CA !important;
}


.ant-select-dropdown .ant-select-item-option-selected .ant-select-item-option-state {
  display: none
}

.ant-select-outlined.ant-select-multiple .ant-select-selection-item .ant-select-selection-item-content .ant-checkbox {
  display: none
}

.ant-select-outlined.ant-select-multiple .ant-select-selection-item .ant-select-selection-item-content .ant-checkbox+span {
  padding: 0
}

/* Select styles end */

/* Checkout styles start */

.ant-checkbox-checked .ant-checkbox-inner {
  background: #3E34CA !important;
  border-color: #3E34CA !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: rgba(136, 135, 145, 1) !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: #3E34CA !important;
}

/* Checkout styles end */

.ant-modal-modal .ant-modal-title {
  color: #1A1657D9 !important
}

.ant-tooltip {
  max-width: 450px;
}

.highlighted-row,
.highlighted-row td {
  background-color: rgba(244, 244, 245, 1) !important;
}

.mb-16 {
  margin-bottom: 16px;
}